$grid-gutter: 20px;
$grid-columns: 12;
$grid-max: 1280px;

[class*="grid"] {
  float: center !important;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
  box-sizing: border-box;
  margin: 5.5rem 3.5rem;
}

.container-form {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 87px;
  
}

.section-logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.section-logo-title p {
  margin-top: 40px;
  font-size: 24px;
  color: #4d4d4d;
  font-weight: bold;
  
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FEF6E7;
  border-radius: 20px;
  

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
  }

  .form-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;


  }

  .form-name input {
    width: 240px;
    height: 48px;
    border: 0;
    margin-left: 24px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: #9f9f9f;
    border-radius: 10px;
  }
  .form-email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
  }

  .form-email input {
    width: 240px;
    height: 48px;
    border: 0;
    margin-left: 24px;
    padding-left: 10px;
    padding-right: 40px;
    font-size: 14px;
    color: #9f9f9f;
    border-radius: 10px;
    
  }

  .form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 119px;
  }

  .form-button button {
    width: 145px;
    height: 40px;
    background-color: #fbb900;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
  }
}
