$grid-gutter: 20px;
$grid-columns: 12;
$grid-max: 1280px;

[class*="grid-"] {
  float: center !important;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.categories-title {
  margin-left: 57px;
  margin-top: 80px;
  margin-bottom: 24px;

  .categories-title h1 {
    font-size: 32px;
    font-weight: bold;
    color: #4d4d4d;
  }
}

.categories-banner {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  justify-content: center;
  align-items: center;

  .categories-banner-section a {
    position: absolute;
  }

  .categories-banner-section a img {
    width: 60px;
    height: 60px;
    margin-top: 123px;
    margin-left: -30px;
    cursor: pointer;
  }

  .categories-banner-section {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .categories-banner-section img {
    width: 277px;
    height: 277px;
  }

  .categories-banner-section-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }

  .categories-banner-section-links a {
    color: #9f9f9f;
    font-size: 16px;
    margin-top: 16px;
  }
}
