.container-wrapper-mydog {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.container-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 43px;
  margin-left: 43px;

  img {
    width: 180px;
    height: 180px;
  }

  .container-item-img {
    display: flex;
    justify-content: center;

    .icon-heart-api {
      width: 32px;
      height: 32px;
    }

    span {
      color: #fbb900;
      font-weight: bold;
      font-size: 14px;
    }
  }

  .container-item-texts {
    text-align: center;
    font-size: 14px;
    color: #4d4d4d;

    .container-item-texts-title {
      margin-top: 10px;
      color: #4d4d4d;
      font-size: 14px;
    }

    .container-item-texts-price {
      margin-top: 16px;
      text-decoration: line-through;
      color: #9f9f9f;
    }

    .container-item-text-bold {
      margin-top: 4px;
      font-weight: bold;
      font-size: 16px;
      color: #4d4d4d;
    }

    .container-item-text--price-special {
      margin-top: 4px;
      color: #fbb900;
      font-size: 16px;
      font-weight: bold;
    }

    span {
      font-size: 12px;
      color: #4d4d4d;
      font-weight: 700;
    }

    button {
      background-color: #fbb900;
      width: 220px;
      height: 48px;
      border-radius: 10px;
      font-size: 16px;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      margin-top: 14px;
    }

    .container-item-text-bold {
      font-weight: bold;
      font-size: 18px;
    }
  }
}
